/******* imported modules *******/
@import "./cssModules/animatedBackground.css";
@import "./cssModules/gridStyle.css";

/*******  CSS Reset *******/

* {
  margin: 0;
  padding: 0;
  /* border: solid 1px green; */
}

/******* Main CSS *******/

#global {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;

  background-image: linear-gradient(140deg, #150e49 0%, #292061 100%);

  overflow: hidden;
  z-index: 0;
}

#gradientHalo {
  position: absolute;
  opacity: 0.8;
  top: 10%;
  left: 30%;
  height: 50%;
  width: 50%;
  filter: blur(30px);
  -webkit-filter: blur(30px);
  border-radius: 100% 100% 30% 50%;
  transform: rotate(-40deg);
  background: linear-gradient(45deg, #5c38e6 19%, #ff5bc6 47%, #ffd710 80%);
}

#handIcon {
  position: absolute;
  bottom: -30%;
  right: 65%;
  width: 35%;
  max-width: 900px;
  transform: rotate(0);
  transition: 0.5s ease-in-out;
  filter: blur(0.4px);
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 80%;
  width: 25%;
  min-height: 500px;
  min-width: 280px;

  border: 0.1px solid rgba(255, 255, 255, 0.35);
  border-radius: 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.135);
  backdrop-filter: blur(40px);

  z-index: 4;
  transition: 0.5s ease-in-out;
}

#title {
  height: 12%;
  margin-top: 10px;
  margin-bottom: 10%;
  border-radius: 5px;
  color: rgb(255, 255, 255);

  font-family: "Sora", sans-serif;
  font-size: 2em;
  text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

#screenOperator {
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
  text-align: -webkit-right; /*for safari*/

  overflow: hidden;

  height: 50px;
  width: 97%;
  padding: 5px;
  margin-bottom: 5px;

  border-radius: 5px 5px 0px 0px;

  color: rgb(255, 255, 255);
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 1.1em;

  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0);
}

#screenResult {
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
  text-align: -webkit-right;

  overflow: hidden;

  height: 100px;
  width: 97%;
  padding: 5px;
  margin-bottom: 5px;

  color: rgba(255, 255, 255, 0.806);
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 5px 5px;
  background-color: rgba(255, 255, 255, 0);
}

/******* Media Queries *******/

@media only screen and (max-width: 1300px) {
  #handIcon {
    right: 60%;
    width: 450px;
  }
}

@media only screen and (max-width: 750px) {
  #handIcon {
    right: 64%;
    width: 300px;
    bottom: -15%;
  }
  #container {
    height: 67%;
  }
}

@media only screen and (max-width: 600px) {
  #handIcon {
    right: 40%;
    bottom: -27%;
    width: 300px;
  }
  #container {
    height: 67%;
  }
}
