#keyZone {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;

  border-radius: 0px 0px 20px 20px;
  background-color: rgba(255, 255, 255, 0.132);
  
}

.btnTab {
  display: grid;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 20px 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "erase erase erase erase"
    "t7 t8 t9 zDiv"
    "t4 t5 t6 zMul"
    "t1 t2 t3 zSub"
    "floa t0 equal zAdd";
}
#erase {
  grid-area: erase;
}
#t7 {
  grid-area: t7;
}
#t8 {
  grid-area: t8;
}
#t9 {
  grid-area: t9;
}
#zDiv {
  grid-area: zDiv;
}
#t4 {
  grid-area: t4;
}
#t5 {
  grid-area: t5;
}
#t6 {
  grid-area: t6;
}
#zMul {
  grid-area: zMul;
}
#t1 {
  grid-area: t1;
}
#t2 {
  grid-area: t2;
}
#t3 {
  grid-area: t3;
}
#zSub {
  grid-area: zSub;
}
#floa {
  grid-area: floa;
  border-radius: 2px 2px 0px 20px;
}
#t0 {
  grid-area: t0;
}
#equal {
  grid-area: equal;
}
#zAdd {
  grid-area: zAdd;
  border-radius: 2px 2px 20px 0px;
}

.btnTab div {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  color: rgb(255, 255, 255);
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);

  border-radius: 2px;

  transition: 0.4s ease-in-out, transform 0.1s ease;
  border: 1px solid rgba(255, 255, 255, 0.2);
}



/******* hover effect on button if its available on the device *******/

@media (hover: hover) {
  .btnTab div:hover {
    background-color: rgba(255, 255, 255, 0.715);
    
  }
  
  #equal:hover,
  #erase:hover {
    background-color: hsla(31, 100%, 68%, 0.737);
    border: 1px solid hsla(31, 100%, 78%, 0.737);
  }

  .btnTab div:active {
    transform: scale(0.97);
    box-shadow: ;
  }

  #equal:active,
  #erase:active {
    transform: scale(0.97);
  }

}

/******* alternative effect on button if hover is not available on the device (touch device) *******/

@media (hover: none) {
  .btnTab div:active {
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.715);
    transform: scale(0.97);

  }
  
  #equal:active,
  #erase:active {
    background-color: hsla(31, 100%, 68%, 0.737);
    border: 1px solid hsla(31, 100%, 78%, 0.737);
    transform: scale(0.97);
  }
}